@media all and (max-width:1200px){
    .show-mobile{
        display: block;
    }

    .header .header__logo img{
        position: static;
        max-height: 80%;
    }

    .header .header__logo{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header
}